.product {
  width: 470px;
  height: 470px;
  border: 1px solid #0d3b69;
  border-radius: 10px;
  display: block;
  margin: 10% auto;
}

.product__img {
  width: 60%;
  display: block;
  margin: auto;
  margin-top: 10px;
}

.product__name {
  color: #f19100;
  display: inline-block;
  margin-left: 40%;
  font-size: 25px;
}

.product__price {
  color: seagreen;
  display: inline-block;
  margin-left: 39%;
  font-size: 25px;
}

.product__desc {
  font-size: 15px;
  display: inline-block;
  width: 66%;
  margin-left: 20%;
  margin-top: 1%;
}

.product__btn {
  background-color: gainsboro;
  text-decoration: none;
  color: #0d693b;
  padding: 15px;
  border: 1px solid #000;
  border-radius: 15px;
  display: inline-block;
  margin-left: 40%;
  margin-top: 3%;
}
