<div class="servicesImg">
    <h1 class="centerTitle">See What We Have For You</h1>
</div>
<div class="servicesContent">
    <div class="serviceCards">
        <div class="serviceCard">
            <div class="cardImg"></div><br>
            <div class="cardText">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus reprehenderit, sint suscipit minima tempore ab sed.</div>
        </div>
        <div class="serviceCard">
            <div class="cardImg"></div><br>
            <div class="cardText">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus reprehenderit, sint suscipit minima tempore ab sed.</div>
        </div>
        <div class="serviceCard">
            <div class="cardImg"></div><br>
            <div class="cardText">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus reprehenderit, sint suscipit minima tempore ab sed.</div>
        </div>
        <div class="serviceCard">
            <div class="cardImg"></div><br>
            <div class="cardText">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Natus reprehenderit, sint suscipit minima tempore ab sed. </div>
        </div>
        </div>
    </div>
</div>