<div class="contactImg">
    <h1 class="centerTitle">Contact Us!</h1>
</div>
<div class="contactContent">
    <div class="map"></div>
    <div class="form">
        <input type='text' placeholder='put your name here!'><br>
        <input type='text' placeholder='put your email here!'><br>
        <input type='tel' pattern='[0-9]{3}-[0-9]{3}-[0-9]{4}' placeholder='put your number here!'><br>
        <textarea placeholder='put your message here!'></textarea><br>
        <input type="checkbox" id="newsletter" name="newsletter" value="subscribe">
        <label for="checkbox">Subscribe to our newsletter?</label><br>
        <input type='submit'>
    </div>
</div>