<div class="reviewsImg">
    <h1 class="centerTitle">Check Out Our Reviews</h1>
</div>
<div class="reviewsContent">
    <div class="couple"></div>
    <div class="reviewText">
        <p class="reviewQuote">"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestiae aliquid magni quod iure vero consequuntur ipsum architecto eligendi? Pariatur et facere quidem, voluptas vel recusandae nesciunt quaerat, cum dolor consequatur consequuntur repellendus necessitatibus iusto!"</p>
        <p class="reviewName">- Lorem Ipsum</p>
    </div>
</div>