<div class="aboutImg">
    <h1 class="centerTitle">About Us</h1>
</div>
<div class="aboutContent">
    <h3 class="aboutHeader">Lorem ipsum dolor sit amet consectetur.</h3>
    <p class="aboutText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim doloribus culpa similique itaque vero eum dicta eaque earum voluptate praesentium sit temporibus quibusdam facilis fugiat odit distinctio, suscipit commodi dignissimos accusamus expedita corrupti amet exercitationem omnis error. At quod eius ab sed debitis, repellendus earum fugit eligendi eos quam dignissimos, adipisci provident! Officia facere rerum iure corporis natus magni beatae velit repellat, incidunt suscipit, necessitatibus architecto, quis aperiam eum a deleniti. Repudiandae doloremque nisi vitae.</p>
    <p class="aboutText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem nobis magnam modi iusto aliquid? Exercitationem cupiditate optio repudiandae, ea facere laboriosam commodi illo magnam, vero minus officiis? Ex nostrum quasi illum distinctio laborum. Voluptatem facere possimus iure eum at facilis, nihil ipsam nulla quam explicabo asperiores non illum necessitatibus culpa.</p>
    <p class="aboutSubtext">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut quo labore culpa iusto laboriosam consectetur facere voluptatem nulla consequatur excepturi sequi perferendis neque nobis inventore tenetur sit a adipisci odio autem tempora numquam molestias, blanditiis voluptate. Eius quis doloremque deleniti sit quod architecto, deserunt ipsum!</p>

    <button class="aboutBtn">read more</button>
</div>